.box {
    display: inline-block;
    border: 1px solid black;
    width: 15px;
    height: 15px;
    margin-left: -1px;
    margin-bottom: -1px;
  }
  
  .off {
    background-color: lightgray;
  }
  
  .on {
    background-color: blueviolet;
  }

  .box:hover {
    background-color: rgb(0, 0, 0);
  }