.App {
  background-color: #191d2c;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  height: 100%;
  min-height: 100vh;
  min-width: max-content;
  overflow-x: hidden;
}
.App h1 {
  margin-bottom: 0;
  margin-top: 0;
}
.gameContainer {
  margin: auto;
  align-items: center;
  display: flex;
  flex-flow: column;
}
.gameWindow {
  margin: 25px;
}
.buttonContainer {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  min-width: 80vw;
  max-width: 100vw;
  padding-left: 10vw;
  padding-right: 10vw;
}
.userButton {
  margin: auto;
  margin-bottom: 2vh;
}
.App-logo {
  height: 30vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}
.alerts {
  width: 60vw;
  margin-bottom: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Button {
  padding-left: 100px;
}
.presets {
  min-width: 30vw;
}
