

.rules-container {
  position: absolute;
  max-width: 133px;
  width: 100%;
  height:100px;
  top: 656px;
  left: 1296px;
  background-color: #a8a7a8;
  color: #cc527a;
  font-size: 3rem;
  border-radius: 5px 0 0 5px;
  background: none;
  color: rgba(255,255,255, 0.3);
  text-shadow: none;
  outline: none;

  opacity: 0;
  transition-property: opacity;
  transition-delay: 5.5s;
  animation-name: grow;
  animation-duration: 1s;
  animation-delay: 6.6s; 

  a {
    text-decoration: none;
    color: rgba(255,255,255, 0.3);
    &:active{
      color:rgba(241, 255, 64, 1);
    }
    &:hover{
      color: #cc527a;
    }
  }
}
.show-container {
  opacity: 1;
}

@keyframes grow {
  0% {
      transform:scale(1);
  }
  50% {
    transform:scale(1.2);
}
  100% {
    transform:scale(1);
  }
}