.App {
  text-align: center;
  background-color: #909497;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 22vmin;
}

.App-header {
  background-color: #ffffff;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 30px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-contain {
  display: flex;
  justify-content: center;
}

.rules {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  /* align-items: flex-end; */
  max-width: 35%;
  text-align: left;
  /* margin-left: 40px; */
  font-size: 13px;
  padding-left: 50px;
}

.radio-group {
  margin-bottom: 40px;
  margin-top: 8px;
}

.canvas-grid {
  background-color: #041180;
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, 0.75);
}
