#canvas {
  margin-top: 5%;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 10px;
}

.App {
  text-align: center;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  min-width: 500px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 0.5% 0;
  width: 100%;
  color: white;
  font-size: 0.7em;
  animation: lit 2s infinite alternate-reverse;
}
.App-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: row;
}

.cca-wrapper {
  background: rgb(41, 40, 40);
  margin: 2%;
  width: 100%;
}

.App-wrapper-cca-controls {
  display: flex;
  background: rgb(49, 49, 49);
  padding: 1% 0;
  margin: 1%;
  width: 98%;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(140, 140, 140);
}

.App-wrapper-cca-controls button {
  white-space: nowrap;
  margin: 0 2%;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  box-shadow: 1px 1px 2px 0px black;
  font-size: 0.7em;
  border: none;
}
.App-wrapper-cca-controls input {
  width: 5%;
  margin-right: 1%;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.display-color-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 5%;
  overflow-y: hidden;
  overflow-x: hidden;
  width: auto;
  padding:3% 0;
  width: 20%;
  height: 80%;
}
.display-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;  
  overflow: hidden;
  height: 100%;
}
.footer {
  width: 100%;
  background: black;
  border-top: 1px solid royalblue;
  padding: 1% 0;
  font-size: 0.7em;  
}

@keyframes lit {
  from { border-bottom: 1px solid rgb(0, 32, 78); }
  to { border-bottom: 1px solid royalblue; }
}
