.cell-container-dead{
  display:flex;
  flex: 1;
  padding: 5px;
  /* margin: 1px; */
  border: 0.5px solid black;
}

.cell-container-alive{
  display:flex;
  flex: 1;
  padding: 5px;
  /* margin: 1px; */
  border: 0.5px solid black;
  background-color: black;
}


.grid-container{
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 0 60px;
}