
  .cellDead {
    display: flex;
    padding: 10px;
    margin: 1px;
    border: 1px solid red;
  }
  
  .cellAlive {
    display: flex;
    padding: 10px;
    margin: 1px;
    border: 1px solid red;
    background-color: yellow;
  }