button {
    margin-top: 10px;
    background-color: black;
    color: white;
    border: 1px solid rgba(241, 0, 0, 0);
    font-size: 1.2rem;
    transition: all .3s;
}

button:hover {
    background-color: rgb(226, 43, 98);
    cursor: pointer;
    border-radius: 5px;
}