.App {
  text-align: center;
}

.cell-dead {

  padding: 10px;
  border: 1px solid black;
}

.cell-live {
  
  padding: 10px;
  border: 1px solid red;
  background: black;
}

.grid {
  
  justify-content: center;
}
