.App {
  text-align: center;
}

.cell-dead {
  display: flex;
  flex: 1;
  padding: 10px;
  margin: 1px;
  border: 1px solid black;
  background: white;
}

.cell-alive {
  display: flex;
  flex: 1;
  padding: 10px;
  margin: 1px;
  border: 1px solid black;
  background: black;
}

.grid {
  display: flex;
  flex: 1;
  justify-content: center;
}