.board-rules {
  display: flex;
}

.board {
  position: relative;
  min-width: 800px;
  background-color: #416cad;
  background-image:
    linear-gradient(#333 1px, transparent 1px),
    linear-gradient(90deg, #333 1px, transparent 1px);
}

.rules {
  margin-left: 15px;
}

.about {
  margin: 0 15px;
}

.cell {
  background: #ffac68;
  position: absolute;
}