body {
  
}

.box {
  display: inline-block;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.off {
  background-color: white;
}

.on {
  background-color: blue;
}

.box:hover {
  background: #00ccff;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px white;
  margin-top: 20px;
}

h1 {
  color: black;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h2,
h3,
h4 {
  color: blue;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h4 {
  margin-top: 0px;
}

a {
  color: white;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse {
  background-color: blue;
  border-color: blue;
}
