.App {
  text-align: center;
}

.box {
  display: inline-block;       
  border: 1px solid black;
  width: 10px;
  height: 10px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.grid {
  width: 400px;
  line-height: 0;
  margin: auto;
  margin-top: 20px;
}