.Board {
    position: relative;
    margin: 0 auto;
    background-color:yellow;
    background-image:
    linear-gradient(rgb(23, 228, 108) 1px, transparent 1px),
    linear-gradient(90deg, rgb(23, 228, 108) 1px, transparent 1px);
}

.Cell {
    background: fuchsia;
    position: absolute;
}

.controls {
    margin-top: 20px;
}

.button {
    margin-left: 12px;
    cursor: pointer;
}