.gameBoard {
    position: relative;
    margin: 0 auto;
    border: 10px solid lavender;
    background-color: lightcyan;
    background-image:
        linear-gradient(lavender 1px, transparent 1px),
        linear-gradient(90deg, lavender 1px, transparent 1px);

}

.Cell {
    background: lavender;
    position: absolute;
}

.tab {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
    width: 100px;
    height: 25px;
  }

  .tabs {
    display: flex;
    justify-content: center;
  }