.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

canvas {
  height: 600px;
  width: 600px;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  height: 50px;
  color: white;
  background-color: skyblue;
  text-align: center;
  padding: 20px 15px;
  padding-bottom: 0;
  font-size: 1.5em;
  margin-top: 15px;
}
