// #a8a7a8

.header-container {
  position: absolute;
  max-width: 1200px;
  width: 90%;
  height: 183px;
  top: 250px;
  left: 116px;
  background: none;
  border-radius: 0 0 10px 10px;
  display: flex;
  top: 44%;
  left: 54%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  transition-property: opacity;
  transition-duration: 5s;
  img {
    width: 1100px;
    opacity: 0.9;
    // margin: 0 auto;
  }
}
.hide-container {
  opacity: 1;
}

.header-container-small {
  opacity: 1;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  position: absolute;
  max-width: 1200px;
  width: 100%;
  height: 53px;
  top: 50px;
  background: none;
  border-radius: 0 0 10px 10px;
  transition-property: opacity;
  transition-duration: 5s;
  img {
    width: 200px;
    opacity: 0.6;
  }
}