.board {
    position: relative;
    margin: 0 auto;
    background-color:black;
    background-image: linear-gradient(#333 1px, transparent 1px), linear-gradient(90deg, #333 1px, transparent 1px);
  }
  
.cell {
    background: gray;
    position: absolute;
}