body {
  background: rgba(139, 158, 241, 0.767);
  font-family: 'Bungee', cursive;
}
.title {
  text-align: center;
}
.board {
  display: flex;
}
canvas {
  margin-left: 50px;
  background: white;
}
.controls {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300;
}
.presets {
  display: flex;
  margin-left: 50px;
  width: 200px;
  justify-content: space-around;
}
.belowText {
  margin-left: 50px;
}
button {
  border-radius: 3px;
  border: none;
  font-family: 'Bungee', cursive;
  height: 20px;
}