body {
  background: rgba(139, 158, 241, 0.767);
  font-family: 'Bungee', cursive;
}
.title {
  text-align: center;
}
.board {
  display: flex;
}
canvas {
  margin-left: 50px;
  background: white;
}
.presets {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300;
}