.heading{
  text-align: center; 
}

.grid {
  width: 435px; 
  height: 435px; 
  border: 3px solid black; 
  margin: auto; 
  margin-top: 20px; 
  display: flex; 
  flex-wrap: wrap; 
  line-height: 0; 
}

.box {
  margin: 0; 
  padding: 0; 
  line-height: 0.2; 
  width: 27px; 
  height: 27px; 
  border: 1px solid black; 
  text-align: center; 
}

.on{
  background-color: green; 
}

.action-buttons{
  display: flex; 
  justify-content: center; 
  margin-top: 40px; 
}