.heading{
  text-align: center; 
}

.grid {
  width: 256px; 
  height: 256px; 
  border: 3px solid black; 
  margin: auto; 
  margin-top: 20px; 
  display: flex; 
  flex-wrap: wrap; 
  line-height: 0; 
}

.box {
  margin: 0; 
  padding: 0; 
  line-height: 0; 
  width: 15px; 
  height: 15px; 
  border: 1px solid black; 
}