.App {
  text-align: center;
}

.box {
  display: inline-block;       
  border: 1px solid rgb(126, 126, 126);
  width: 30px;
  height: 30px;
  margin-left: -1px;
  margin-bottom: -1px;
  }

.off {
  background-color: rgb(252, 249, 249);
}

.on {
  background-color: rgb(49, 136, 96);
}
  
.box:hover { 
  background:rgb(89, 102, 98);
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px white;
  margin-top: 20px;
  margin-bottom: 20px;
}
  
h1, h2, h3, h4 {
  color: black;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h4 {
  margin-top: 0px;
}
