.App {
  text-align: center;
  position: static;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background {
  background-image: url("https://i.pinimg.com/originals/c1/e7/30/c1e730a38f30b04816de325e5fced5f8.jpg");
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 0;
  border: 2px grey solid;
  position: fixed;
  background-attachment: fixed;
  z-index: -100;
}
