.App {
  text-align: center;
  margin-top:30px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
p{
  margin-top:30px;
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}
ul{
  width:375px;
  margin:0 auto;
}
ul li{
  padding-bottom:10px;
  text-align:left;
}
.button-container{
  width:375px;
  margin:0 auto;
  display:flex;
  justify-content:space-evenly;
}
h2{
  font-size:22px;
}
h1{
  font-size:28px;
}
.generationHeader{
  font-size:22px;
}
.lifeInfo{
  width:375px;
  margin:0 auto;
  text-align:left;
  margin-top:30px;
  margin-bottom:30px;
}