// #a8a7a8

.header-container {
  position: absolute;
  max-width: 1000px;
  width: 100%;
  height: 183px;
  top: 100px;
  left: 216px;
  background: none;
  border-radius: 0 0 10px 10px;
  // display: none;
  img {
    opacity: 0.5;
  }
}