.App {
  text-align: center;
  max-width: 1024px;
  height: 800px;
  margin: 0 auto;
  border: solid black 2px;
  font-size: 2.0rem;
}
.main-ctn {
  display: flex;
}
.board-ctn {
  width: 50%;
}
.rules-ctn {
  width: 50%;
  margin-top: 20px;
  margin-right: 30px;
  font-size: 1.2rem;
}
.rule-item {
  margin-top: 47px;
}

@media only screen and (max-width: 600px){
  .rules-ctn {
    display:none;
  }
}