.App {
  text-align: center;
  color: #61dafb;
  letter-spacing: 1px;
  font-size: 40px;
  font-weight: bold;
  font-variant: small-caps;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid {
  width: 800px;
  height: 500px;
  margin: auto;
}

.node {
  width: 19px;
  height: 19px;
  background: lightgray;
  border: 1px solid black;
  display: block;
  float: left;
}

.node.active {
  background: #ff0505;
}

.button-container {
  border: 1px solid black;
  margin: auto;
  margin-bottom: 40px;
  margin-right: 40px;
  margin-left: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  padding: 20px;
}

.button {
  border: 1px solid rgb(177, 80, 63);
  border-radius: 4px;
  background: #ffffff;
  color: #0dae8e;
  font-size: 36px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  font-variant: normal;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:hover {
  background-color: #4CAF50;
  color: white;
}