.App {
  text-align: center;
}

h1,
h2 {
  margin: 20px 0;
}
.innerbox {
  width: 50px;
  max-width: 50px;
  display: inline-block;
}
.buttons {
  margin-bottom: 30px;
}
.modals {
  margin-bottom: 30px;
  margin-left: 20px;
}
