body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    box-sizing: border-box;
}

.App {
  text-align: center;
}

.gridContainer {
  height: 475px;
  width: 500px;
  margin: 50px auto auto;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  height: 30px;
  width: 30px;
  background: white;
  border: 1px solid black;
}