:root {
   /* default values */
   --selected-primary-color: var(--light-primary-color);
   --selected-disabled-color: var(--light-disabled-color);
  
  /* Set the 'light' theme */
  --light-primary-color: #007bff;
  --light-disabled-color: #6c757d;

  /* Set the 'dark' theme */
  --dark-primary-color: #000000;
  --dark-disabled-color: #4a4a4b;
  }