.top{
display: flex;
background: lightgray;
height: 90px;
}

.bottom{
display: flex;
background: black;
color: white;
height: 90px;
position: absolute;
top:664px;
width:100%;
}

.flex{
display: flex;
flex-direction: column;
}

.canvas{
    border: 2px solid red;
}

.button{
    display:flex;
    border-radius: 5px;
    height:35px;
    width: 70px;
    justify-content: center;
    color: black;
    font-weight: 500;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 80px;
    margin-top: 30px;
}

.clearbutton{
    display:flex;
    border-radius: 5px;
    height:35px;
    width: 70px;
    justify-content: center;
    color: black;
    font-weight: 500;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 110px;
    margin-top: 30px;
}