.top{
display: flex;
background: lightgray;
height: 90px;
}

.bottom{
display: flex;
background: black;
color: white;
height: 90px;
position: absolute;
top:664px;
width:100%;
}

.flex{
display: flex;
flex-direction: column;
}

.canvas{
    border: 2px solid red;
}