.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
 .grid-container {
  width: 17%;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: lightseagreen;
}
 .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
 .dead-cell {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}
 .live-cell {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  background: white;
}

.controls {
  display: flex;
  width: 30%;
  justify-content: space-around;
}