body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

* {
	box-sizing: border-box;
}

.Cell {
	display: inline-block;
	border: 1px solid black;
	width: 15px;
	height: 15px;
	margin-left: -1px;
	margin-bottom: -1px;
}

.Cell:hover {
	background-color: greenyellow;
}

.Cell.isActive {
	background-color: #61dafb;
}

.Grid {
	width: 150px;
	line-height: 0;
	margin: auto;
	box-shadow: 0px 0px 20px white;
	margin-top: 20px;
}
