

.rules-container {
  position: absolute;
  max-width: 133px;
  width: 100%;
  height:300px;
  top: 222px;
  left: 1276px;
  background-color: #a8a7a8;
  color: #cc527a;
  border-radius: 5px 0 0 5px;
  display: none;
}