.App-title {
  color: white;
  border: 3px solid white;
  background: purple;
  padding-left: 30px;
  width: 625px;
  margin: 0px;
  font-size: 70px;
  text-align: center;
  border-radius: 30px

}

.grid-container {
  display: flex;
}

.grid {
    position: relative;
  /*  margin: 0 auto;*/
 /*   background-color: darkpink;*/
    background-image:
        linear-gradient(#000 3px, transparent 3px),
        linear-gradient(90deg, #000 3px, transparent 3px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 3px solid #000;


}

.Cell {
    background: purple;
    position: absolute;
}
.button-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 1000px;
}

.button {
    height: 40px;
    width: 90px;
    border-radius: 20px;
    border: 2.5px solid black;
    margin-left: 12px;
    cursor: pointer;
    margin-bottom: 10px;
}

.button1 {
  height: 20px;
  width: 75px;
  border-radius: 5px;
}

.rules-container {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  height: 300px;
  width: 485px;
  margin-top: 50px;
  margin-left: 40px;
  background: purple;
  color: white;
/*  margin: auto;*/
}

.rules-title {
  display: flex;
  /*margin-left: 100px;*/
  margin: auto;
}

li {
  padding-bottom: 15px;
}

.rules {
  display: flex;
  margin: auto;
  /*margin-left: 75px;*/
  margin-bottom: 75px;
}
.homepage-content {
  display: flex;
  font-size: 20px;
}
.home-content1 {
  margin-right: -100px;

}
.home-container {
  margin-right: 400px;
  width: 925px;
}
.homepage {
  color: white;
  margin-left: 350px;
  width: 925px;
}
.ready-container {
  display: flex;
  margin-left: 240px;
  margin-top: -20px;

}

.return-home-button {
  display: flex;
    flex-direction: row;
  color: white;
  border: 3px solid gray;
  background: gray;
  margin-right: 200px;
  margin-top: -50px;
  height: 25px;
  width: 150px;
}
.ready-button {
  height: 55px;
  width: 110px;
  margin-left: 100px;
  margin-bottom: -900px;
  background: purple;
  font-size: 30px;
  color: white;
  font-weight: bold;
  border: 4px solid purple;
  border-radius: 40px;
}

.ready-button1 {
  width: 30px;
  margin-left: -90px;
}
.img-blocks {
  height: 30px;
}

.img-block {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 420px;

  margin-top: 20px;
}

.img-title {
  margin-top: 40px;
  margin-bottom: -10px;
}

