.grid {
    position: relative;
  /*  margin: 0 auto;*/
    background-color: pink;
    background-image:
        linear-gradient(#333 1px, transparent 1px),
        linear-gradient(90deg, #333 1px, transparent 1px);

}

.button {
  height: 20px;
  width: 50px;
  border-radius: 5px;

}
.button1 {
  height: 20px;
  width: 75px;
  border-radius: 5px;

}
