.instructions-container {
  position: absolute;
  max-width: 500px;
  width: 100%;
  left: 495px;
  height: 200px;
  border-radius: 10px;
  font-size: 1rem;
  top:222px;
  margin: 0 auto;
  text-align: center;
  display: inline;
}