.instructions-container {
  position: absolute;
  display: inline;
  max-width: 700px;
  width: 100%;
  top: 49%;
  left: 50%;
  border-radius: 10px;
  background: rgba(44,44,44,0.4);
  font-size: 1rem;
  margin: 0 auto;
  text-align: left;
  color:white;
  padding: 1% 5% 5% 5%;
  line-height: 1.3;
  font-weight: 600;
  opacity: 0;
  transition-property: opacity;
  transition-delay: 7s;
  transform: translate(-50%, -50%);
  
  &:nth-child(3) {
    text-indent: 30px;
  }
  &:nth-child(9) {
    text-indent: 30px;
  }

  .instr-header {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    .exit {
      position: absolute;
      left:780px;
      font-size: 3rem;
      &:active{
        color:rgba(44, 44, 44, 0.4);
      }
      &:hover{
        color: #cc527a;
      }
    }
  }
}

.show-container {
  opacity: 0;
}

@keyframes grow {
  0% {
      transform:scale(1);
  }
  50% {
    transform:scale(1.05);
}
  100% {
    transform:scale(1);
  }
}