.Board {
  position: relative;
  margin: 0 auto;
  background-color: white;
  background-image: linear-gradient(0deg, #333 1px, transparent 1px),
    linear-gradient(90deg, #333 1px, transparent 1px);
  border: 1px solid black;
}

.Cell {
  background: black;
  position: absolute;
}

.below-grid {
  display: flex;
  justify-content: space-around;
  margin-left: 25.2%;
  margin-right: 25%;
}

button {
  height: 38px;
  margin-top: 20px;
  margin-right: 4px;
}

.left {
  display: flex;
}

.right {
  display: flex;
}

.dropdown-right {
  margin-top: 20px;
  margin-right: 4px;
}
