

.controls-container {
  position: absolute;
  max-width: 800px;
  width: 100%;
  height: 163px;
  top: 603px;
  left: 316px;
  color: #cc527a;
  border-radius: 10px 10px 0 0;
  opacity: 0;
  transition-property: opacity;
  transition-delay: 5s;
  animation-name: grow;
  animation-duration: 1s;
  animation-delay: 5.7s;
  
  .controls-btn {
    width: 200px;
    height: 122px;
    background: none;
    font-size: 6rem;
    border: none;
    color: rgba(255,255,255, 0.3);
    text-shadow: none;
    outline: none;

    &:active{
      color:rgba(241, 255, 64,1);
    }
    &:hover{
      color: #cc527a;
    }
  }
}

.show-container {
  opacity: 1;
}

@keyframes grow {
  0% {
      transform:scale(1);
  }
  50% {
    transform:scale(1.2);
}
  100% {
    transform:scale(1);
  }
}
