.button {
    width: 50px;
    height: 25px;
    border: 1px solid black;
    border-radius: 20px;
}

.play {
    background-color: lightgreen;
}

.pause {
    background-color: lightblue;
}

.stop {
    background-color: tomato;
}