.game {
    display: flex;
    flex-direction: column;
    background-position: center;

    .top {
        width: 55%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: white;
    }

    .main {
        display: flex;
        flex-direction: row;
    }
}