.game {
    display: flex;
    flex-direction: column;
    width: 75%;
    // background-image: url("../utils//0_xKTwlgXlZPC7Xv3r.jpg");
    background-position: center;
    border: 1px solid black;

    .section {
        display: flex;
        flex-direction: row;
    }
}