.info {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 25px;
    
    .rules {
        width: 600px;
        margin: 50px;
        padding: 25px;
        color: white;
        background-color: black;
        border: 1px solid white;
    }

    .about {
        width: 800px;
        margin: 50px;
        padding: 25px;
        color: white;
        background-color: black;
        border: 1px solid white;
    }
}