.presets{
    height: 400px;
    margin: 0 10px;
    text-align: left;
    color: white;
    background-color: black;
    border: 1px solid white;

    h3 {
        text-align: center;
    }

    .preset {
        display: flex;
        width: 150px;
        padding: 15px;
        font-size: 20px;
        line-height: 2;

        img {
            width: 50px;
            height: 50px;
            padding: 0 5px;
            border-radius: 50%;
        }
    }

    .preset:hover {
        box-shadow: 2px 2px 15px white;
    }
}