.interface-ctn {
    margin-left: 10px;
}

.board {
    margin-top:10px;
    display:flex;
	width:330px;
    flex-flow: row wrap;
    border:1px solid black;
}

.btn-ctn {
    margin-top: 10px;
    width: 330px;
    display: flex;
    justify-content: space-between;
}
.main-btn {
    width: 75px;
}