.Pixel {
    border: 1px solid black;
    height: 15px;
    width: 15px;
    margin-left: -1px;
    margin-top: -1px;
    background-color: black;
}

.on{
    color:dimgray;
}

.off{
    color:black;
}

.Pixel:hover{
    background: cadetblue;
}