.graphBoard {
    background-color: #9D6B84	;
    position: relative;
    margin: 0 auto;
    background-image:
    linear-gradient(#aca2b0 1px, transparent 1px),
    linear-gradient(90deg, #aca2b0 1px, transparent 1px);
}

.indivCell {
    background: #e8cccd;
    position: absolute;
  }
