.graphBoard {
    background-color: black;
    position: relative;
    margin: 0 auto;
    background-image:
    linear-gradient(#696969 1px, transparent 1px),
    linear-gradient(90deg, #696969 1px, transparent 1px);
}

