.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.displayFlex {
    display: flex;
    justify-content: space-around;
    border: 1px blue solid;
}
.centerContent {
    text-align: center;
}
.containerWrapper {
    width: 100%;
    border: 1px solid green;
}
.dirColumn {
    display: flex;
    flex-direction: column;
}
.presetBut{
    padding: 20px;
    margin: 10%;
    border-radius: 9px;
}
.playB{
    padding: 10px;
    border-radius: 9px;
    margin: 5% 20%;
}
.thirtyPer {
    width: 150px;
    margin-left: 130px;
}