body {
    background: grey;
    width: 80%;
    margin: 0 auto;
    border: 1px solid white;
}
#canvas {
    box-sizing: border-box;
    margin: 0 auto;
}
td {
    width: 7px;
    height: 7px;
    border: 1px solid rgb(43, 43, 43);
}

.on {
    background: yellow;
    border: 1px solid yellow;
}
.off {
    background: 'black';
}

button {
    font-weight: 700;
    color: seashell;
    background: steelblue;
    padding: 5px;
    border: 1px solid white;
    border-radius: 3px;
}

p,h1,h2,h3{
    color: white;
    margin: 3px;
}

.main-controls {
    display: flex;
    width: 100%;
    justify-content: center;
}

.main-controls button{
    margin: 5px;
    width: 150px;
}

.secondary-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secondary-controls button {
    width: 150px;
}
.control-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.control-box p,.control-box h2{
    width: 100%;
    text-align: center;
}
.other-button{
    background: tomato;
}