.Main h1 {
  margin: 4%;
  font-family: Permanent Marker, cursive;
}
.Home {
  background-color: rgb(221, 10, 52);
  color: black;
  margin: 4% auto;
  width: 15%;
  padding: 2%;
}
.Board {
  position: relative; 
  margin: 0 auto;
  background-color: rgb(221, 10, 52);
  background-image: linear-gradient(#333 1px, transparent 1px), linear-gradient(90deg, #333 1px, transparent 1px);
}
.Cell {
  background: #ccc;
  position: absolute;
}
.Controls {
  /* margin-top: 20px; */
  width: 50%;
  background-color: black;
  color: rgb(221, 10, 52);
  padding: 2%;
  margin: 2% auto;
}