.main {
  max-width: 100%;
}
.main h1 {
  margin: 4%;
  color: rgb(221, 10, 52);
  font-family: 'Permanent Marker', cursive;
}
.game-specs {
  background-color: white;
  color: rgb(221, 10, 52);
  width: 45%;
  border: 4px solid;
  margin: 4% auto;
  padding: 2%;
}
.game-specs h2 {
  margin: 0;
  font-family: 'Permanent Marker', cursive;
}
.game-specs.start-game {
  background-color: rgb(221, 10, 52);
  color: black;
  width: 25%;
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1%;
  padding-right: 1%;
}
.start-game button {
  /* add button styles */
}
