

.controls-container {
  position: absolute;
  max-width: 800px;
  width: 100%;
  height: 163px;
  top: 603px;
  left: 316px;
  background-color: #a8a7a8;
  color: #cc527a;
  border-radius: 10px 10px 0 0;
  // display: none;
}