.cellDead {
    display: flex;
    padding: 10px;
    margin: 1px;
    border: 1px solid black;
  }
  
  .cellLive {
    display: flex;
    padding: 10px;
    margin: 1px;
    border: 1px solid black;
    background-color: black;
  }