.cellDead {
    display: flex;
    padding: 5px;
    margin: 1px;
    border: 1px solid black;
    cursor: pointer; 
  }

  .cellLive {
    display: flex;
    padding: 5px;
    margin: 1px;
    border: 1px solid black;
    background-color: black;
  }